/* shared styles */
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    
}
.orange{
        color: #FF5400;
        font-family: Mulish;

}

.container{
    width: 80% ; 
    margin: 50px auto;
    
}
#find-now-button{
    background-color: #fc5704;
    color: #FFF ;
    font-size: 1rem;
    font-weight: 700;
}
#find-now-button:hover{
    background-color: #bcf905;
    transition: 1s;
    color: #4a4a67;
}

/* Header Related styles */

.nav-content {
   
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logo {
   align-items: center;
   justify-content: center;
   display: flex;
   gap: 5px;
}
.logo-title{
    color: #131318;
font-family: Mulish;
font-size: 2rem;
font-weight: 800;
margin-right: 200px;
}

.menu-bar {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#toggle {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.125rem;
    font-weight: 400;
    gap: 44px;

}

.nav-list li {
    margin-right: 1.25rem;
}

.nav-list a {
    text-decoration: none;
    color: #424247 ;
}
/* explore travel styles */
.explore{
    border-radius: 16px;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
     height: 500px;
    background-repeat: no-repeat;
    width: 1170px;}

.container{
    display: flex;
    justify-content: center;
}

    .explore-title{
      margin-top: 100px;
        color: #FFF;
        font-family: Mulish;
        font-weight: 800;
        font-size: 4rem ;
        text-align: center;
    }

.explore-details{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;  
    width: 676px;
    margin-top: 24px;
   
}
.form-submit{
    display: inline-flex;
    padding: 1rem;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 3rem;
}
.submit-detail{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    font-family: mulish;
    font-weight: 400;
    border: none;


}


/* tour place section start */
.tour-place-content{
    display: flex;
    margin-top: 100px;
    width: 80%;
    justify-content: space-between;
    gap: 50px;
}
.tour-place-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;

}
.tour-place-description{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;; 
    margin-top:24px ;
    margin-bottom: 0px;
}
.tour-place-content li {
    margin-left: 30px;
}
.tp-btn{
    margin-top: 32px;
}
/* destination section styles */
.destination-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; width: 100%;
}
.destination-text{
    margin-top: 100px;
    margin-bottom: 48px;
}
.destination-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.gallery{
    display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(3,1fr);
   width: 100%;
   gap: 10px;
   
}

.gallery img{
 width: 100%;
 height: 280px;
}
.Gallery_item-1{
 grid-column: 1/span 6;
 grid-row: 1;
 position: relative;
 
}
.Gallery_item-2{
    grid-column: 7/span 12;
    grid-row: 1;
    position: relative;
    display: inline-block;
}
.Gallery_item-3{
    grid-column: 1/span 4;
    grid-row: 2;
    position: relative;
    display: inline-block;
}
.Gallery_item-4{
    grid-column: 5/span 5;
    grid-row: 2;
    position: relative;
    display: inline-block;
}
.Gallery_item-5{
    grid-column: 10/span 10;
    grid-row: 2;
    position: relative;
    display: inline-block;
}
.Gallery_item-6{
    grid-column: 1/span 5;
    grid-row: 3;
    position: relative;
    display: inline-block;
}
.Gallery_item-7{
    grid-column: 6/span 14;
    grid-row: 3;
    position: relative;
    display: inline-block;
}
.image-title{
    color:#FFF;
    font-size: 1.75rem;
    font-weight: 800;
    font-family: Mulish;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

/* Service section start */

.service-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; width: 100%;
}
.service-parts-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top:48px;
}
.service-title{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.service-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 22px;
}
.service-part{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding-top: 20px;
    padding-left: 20px;
}
.service-titles{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 32px;
    }
.service-descriptions{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 14px; 

}
.map{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.price-tag{
    position: relative;
    left: 310px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* Newsletter section styles */

.newletter-content{
    display: flex;
  
    

}
.newsletter-form{  
    border-radius: 16px;
    border: 1px solid #FF5400;
    width: 550px;
    height: 422px;
    margin-right: 15px;
  
}
.newsletter-title{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
margin-top:40px ;
margin-left: 40px;
}
.newsletter-description{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 16px;
    margin-left: 40px;
}
.name-area,.email-area {
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
width: 85%;
height: 52px;
flex-shrink: 0;
text-align: center;
margin-top: 20px;
margin-left: 40px;
border: none;
}
.newsletter-img{
    width:672px ;
height: 422px;

}
.subscribe-btn{
    width: 85%;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    margin-top: 24px;
    margin-left: 40px;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: Mulish;
}










/* Media query for responsive design */
@media screen and (max-width: 600px) {
    .nav-content{
        justify-content: space-between;
    
    }
    .menu-bar{
        display: block;
       
    }
    .logo{
        
        font-size: 10px;
       margin: 0;
       padding: 0;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
       
    }

    #toggle:checked + .navbar .nav-list {
        display: flex;
        justify-content: space-between;
    }

    .nav-list li {
        margin-right: 0;
        text-align: center;
        padding: 10px;
    }
}
