/* shared styles */
* {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    
}
.orange{
        color: #FF5400;
        font-family: Mulish;

}

.container{
    width: 80% ; 
    margin: 50px auto;
    
}
#find-now-button{
    background-color: #fc5704;
    color: #FFF ;
    font-size: 1rem;
    font-weight: 700;
}
#find-now-button:hover{
    background-color: #bcf905;
    transition: 1s;
    color: #4a4a67;
}

/* Header Related styles */

.nav-content {
   
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logo {
   align-items: center;
   justify-content: center;
   display: flex;
   gap: 5px;
}
.logo-title{
    color: #131318;
font-family: Mulish;
font-size: 2rem;
font-weight: 800;
margin-right: 200px;
}

.menu-bar {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

#toggle {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 1.125rem;
    font-weight: 400;
    gap: 44px;

}

.nav-list li {
    margin-right: 1.25rem;
}

.nav-list a {
    text-decoration: none;
    color: #424247 ;
}
/* explore travel styles */
.explore{
    border-radius: 16px;
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
     height: 500px;
    background-repeat: no-repeat;
    width: 1170px;}

.container{
    display: flex;
    justify-content: center;
}

    .explore-title{
      margin-top: 100px;
        color: #FFF;
        font-family: Mulish;
        font-weight: 800;
        font-size: 4rem ;
        text-align: center;
    }

.explore-details{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;  
    width: 676px;
    margin-top: 24px;
   
}
.form-submit{
    display: inline-flex;
padding: 1rem;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin-top: 3rem;
}
.submit-detail{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
 text-align: center;
 font-family: mulish;
 font-weight: 400;
 border: none;


}


/* tour place section start */
.tour-place-content{
    display: flex;
    margin-top: 100px;
    width: 80%;
    justify-content: space-between;
    gap: 50px;
}
.tour-place-title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;

}
.tour-place-description{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;
font-weight: 400;; 
margin-top:24px ;
margin-bottom: 0px;
}
.tour-place-content li {
    margin-left: 30px;
}
.tp-btn{
    margin-top: 32px;
}
/* destination section styles */

.gallery{
    display: grid;
   grid-template-columns: repeat(12,1fr);
   grid-template-rows: repeat(3,1fr);
   width: 80%;
   gap: 10px;
}

.gallery img{
 width: 100%;
 height: 280px;
}
.Gallery_item-1{
 grid-column: 1/span 6;
 grid-row: 1;
}
.Gallery_item-2{
    grid-column: 7/span 13;
    grid-row: 1;
}
.Gallery_item-3{
    grid-column: 1/span 4;
    grid-row: 2;
}
.Gallery_item-4{
    grid-column: 5/span 5;
    grid-row: 2;
}
.Gallery_item-5{
    grid-column: 10/span 10;
    grid-row: 2;
}
.Gallery_item-6{
    grid-column: 1/span 5;
    grid-row: 3;
}
.Gallery_item-7{
    grid-column: 6/span 14;
    grid-row: 3;
}












/* Media query for responsive design */
@media screen and (max-width: 600px) {
    .nav-content{
        justify-content: space-between;
    
    }
    .menu-bar{
        display: block;
       
    }
    .logo{
        
        font-size: 10px;
       margin: 0;
       padding: 0;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
       
    }

    #toggle:checked + .navbar .nav-list {
        display: flex;

    }

    .nav-list li {
        margin-right: 0;
        text-align: center;
        padding: 10px;
    }
}
